.headers{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    position: relative;
    margin: auto;
    background-color: rgb(240, 240, 240);
}
.headers header{
    color: rgb(65, 2, 124);
    font-weight: bold;
}
.navs{
    width: 50%;
    max-width: 500px;
    display: flex;
    justify-content: space-between;
}
.navs button{
    background: none;
    border: none;
     padding: 5px 10px;
     color: rgb(65, 2, 124);
}
nav .contactbtn{
    background-color: rgb(65, 2, 124);
    color: white;
    border: none;
    border-radius: .8em;
    padding: 0 25px;
}


.education{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 30px;
    padding: 40px 0;
    border-bottom: 3px solid rgba(128, 128, 128, 0.37);
}
.education  small{
    max-width: 600px;
    color: grey;
}
.education p{
    font-size: 13px;
}


.design{
    margin: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.design h5{
    margin-bottom: 10px;
}
.design small{
    color: grey;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.design ol{
    display: flex;
    flex-direction: column;
    gap: 5px;
}


.work{
    margin: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.work .content{
    max-width: 600px;
    display: flex;
    flex-direction: column;
}
.work small{
    color: grey;
}
.work button{
    width: fit-content;
     padding: 5px 10px;
    background-color: rgb(65, 2, 124);
    color: white;
    border: none;
    border-radius: .5em;
}

.work h5{
    margin-bottom: 5px;
}


.certificate{
    margin-top: 50px;
    text-align: center;
}

.certificate .certlist{
    padding: 20px;
    color: white;
    background-color: rgb(65, 2, 124);
    position: relative;
    margin: auto;
    margin-top: 10px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.certlist img{
    width: 80%;
}