.section1{
    position: relative;
    margin: auto;
    margin: 50px 20px;
}
.section1box{
    display: flex;
    align-items: center;
}
.section1box h3{
    margin-bottom: 5px;
}
.logohead img{
    width: 100%;
    margin-bottom: 20px;
}
.justimage img{
    width: 100%;
}
.section1 .content{
    position: relative;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 50px;
    max-width: 500px;
    margin-top: 80px;
}
.section1 .content h3, h4, h5{
    margin-bottom: 10px;
}
.section1 .content li, small{
    list-style: none;
    line-height: 1.8em;
}

.process{
    text-align: center;
    margin-top: 100px;
}
.processicon{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 30px;
}
.processicon img{
    width: 60%;
}

.product{
     text-align: center;
    margin-top: 100px;
    height: 500px;
}
.productbox{
    margin-top: 30px;
    padding-bottom: 20px;
    background: rgb(234, 198, 243);
}
.productbox img{
    width: 100%;
    margin: 0;
}
.product .content{
    padding: 20px 0;
}
.product .content p{
    font-size: 20px;
    text-transform: capitalize;
}
.product .content span{
    font-weight: bold;
    color:rgb(233, 37, 216) ;
}

.product .floatimg img{
    position: absolute;
    right: 0;
    top: 70%;
    width: 15%;
}

.section3{
    margin-bottom: 100px;
}
.quantitative{
    position: relative;
    margin: auto;
    text-align: center;
    width: 70%;
    max-width: 600px;
    margin-bottom: 50px;
    margin-top: 50px;
}
.research{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.quantitative p{
    margin-top: 10px;
}
.research .box{
    background-color:rgb(234, 198, 243);
    max-width:400px ;
    padding: 50px;
}
.research .box1{
    position: relative;
    height: 300px;
}
.research .box1 li{
    list-style: none;
}
.research .boxright{
    background-color:rgb(234, 198, 243);
    padding: 50px;
    max-width: 400px;
    position: absolute;
    right: 0;
}
.research li{
    margin-bottom: 10px;
}

.competebox{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.competehead{
    text-align: center;
}
.competebox li{
    margin-bottom: 10px;
}
.competebox .box{
    background-color:rgb(234, 198, 243);
    width:350px ;
    padding: 40px;
}
.utilbox{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 2px solid rgba(128, 128, 128, 0.514);
    padding: 40px;
}
.utilbox img{
    width: 30%;
}

.jumiabox{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.jumiabox img{
    width: 30%;
}



.section5{
    margin-top: 150px;
}
.section5 h3{
    text-align: center;
    margin: 70px 0 40px 0;
    font-size: 25px;
}
.needbox{
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 60px;
    width: 70%;
    max-width: 600px;
    text-align: center;
    padding-bottom: 50px;
    border-bottom: 2px solid rgba(128, 128, 128, 0.253);
}
.needbox h3{
    margin-bottom: 15px;
    font-size: 25px;
}
.needbox li{
    list-style: inside decimal; 
    margin-bottom: 10px;
}

.persona{
    text-align: center;
    position: relative;
    margin: auto;
    background-color:rgb(234, 198, 243) ;
}
.personabox{
    position: relative;
    margin: auto;
    padding: 40px 0;
    width: 80%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    text-align: left;
}
.persona picture{
    position: relative;
}
.persona img{
    width: 300px;
    height: 400px;
}
.persona .details{
    display: flex;
    height: 400px;
}
.persona .content small{
    color: grey;
    font-size: 9px;
}
.age{
    color: grey;
    font-size: 13px;
    margin-bottom: 5px;
}
.content h5{
    margin: 10px 0 5px 0;
}
.persona .name{
    line-height: .2em;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.677);
    color: white;
    position: absolute;
    bottom: 0;
    left: 0%;
    padding: 10px;
    width: 100%;
}
.persona .content{
    padding: 20px;
    background-color: white;
}



.section6{
    margin-top: 100px;
    margin-bottom: 50px;
}
.section6 h3{
    margin-bottom: 50px;
    padding-left: 10px;
}
.section6 h4{
    padding-left: 10px;
}
.mainbox{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: white;
    box-sizing: border-box;
    padding: 10px;
}
.headbox{
    position: relative;
    margin: auto;
    justify-content: flex-start;
    display: flex;
    gap: 20px;
    width: 100%;
}
.headbox div{
    flex: 1;
    background-color: rgb(250, 224, 246);
    padding:5px 10px;
}
.headbox li{
    list-style: inside;
    font-size: 10px;
}
.headbox p{
    font-size: 10px;
}
.box1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-content: flex-start;
    gap: 20px;
}
.box1 p{
   min-height: 35px;
   font-size: 11px;
   font-weight: bold;
}
.box1 small{
    line-height: 1em;
    font-size: 10px;
}
.box1 ul{
    flex: 1;
    font-size: 11px;
}
.box1 h5,
.box2 h5{
    font-size: 11px;
    padding:0 10px;
}

.box2{
    display: grid;
    grid-template-columns: .1fr 1fr;
    justify-items: end;

}
.box2 img{
    width: 85%;
    max-width: 750px;
}






@media (max-width:700px) {
    .section1box{
        flex-direction: column;
        text-align: center;
        gap: 30px;
    }

.product{
    height: 400px;
}
    .product .floatimg img{
    position: absolute;
    right: 0;
    top: 75%;
    width: 15%;
}


.utilbox{
    flex-direction: column;
    position: relative;
    padding-top: 100px;
    margin-top: 20px;
}
.utilbox img{
    width: 50%;
    max-width: 200px;
    position: absolute;
    top: 0;
}
.jumiabox{
    position: relative;
    flex-direction: column;
    padding-top: 100px;
}
.jumiabox img{
    width: 50%;
    max-width: 200px;
    position: absolute;
    top: 0;
}

.persona .details{
    position: relative;
    flex-direction: column;
    height: max-content;
    border: 2px solid rgba(128, 128, 128, 0.473);
}
.persona .details img{
    width: 100%;
}
}
 