.headers{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    position: relative;
    margin: auto;
}
.headers header{
    color: rgb(65, 2, 124);
    font-weight: bold;
}
.navs{
    width: 50%;
    max-width: 500px;
    display: flex;
    justify-content: space-between;
}
.navs button{
    background: none;
    border: none;
     padding: 5px 10px;
}
nav .contactbtn{
    border: 2px solid rgb(201, 159, 240);
}